<html>
<body>
<table>
    <% for(var i=0; i<lista.length; i++) {%>
    <tr>
        <td><%= lista[i].titulo %></td>
        <td><%= lista[i].preco %></td>
        <td><p><%= lista[i].descricao%></p></td>
    </tr>
    <% } %>
</table>
</body>
</html>