<%= include ../includes/header.ejs %>
<div>
    <div class ="container min-container">
        <h2 class="basic-title">A casa caiu</h2>
        <div class="well">
            Aconteceu um problema inesperado.
        </div>
    </div>
</div>
<%= include ../includes/footer.ejs %>